<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>8-1-反射机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C02DD4621F307580000409B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02DD4761F307580000409B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02DD4811F307580000409B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
